caption{
    font-size: 30px;
    background-color: bisque;
    color: black;
    border: 1px solid black;
}

.liste{
    width: 50%;
    border: 1px solid black;
    
}

td{
    text-align: center;
    
}

#add{
    
    margin-top: 10px;
}
