#t1{
    font-size:100px;
    font-family: Arial, sans-serif;
    background-color: orange;
    color: white;
    position: fixed;
    
}


a{
}

/*form input{ margin-left: 100px}*/

#pw{
   text-align:right;
}