<!DOCTYPE html>
    <html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource"></script>

    <head>

    <meta charset="UTF-8">
    <title>    Uniplaner    </title>

        <link rel="stylesheet" type="text/css" href="styleMensa.css">
        <script language="javascript" type="text/javascript" src="mensa_javas.js"></script>

    </head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

    <body>  
        <header>
            <div><p>Uni-Planer</p>
            <a id="lgout" href="../index.html">Abmelden</a></div>
        </header>
        
        <p id="beschreibung">Hier findest du den Mensaplan deiner Hochschule. Scroll einfach durch und such sie.</p>


        <div id="app">

            <div id="progress">
                <h1>
                    Loading cantinas...
                </h1>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: progress}">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>

            <select v-if="canteens.length" v-on:change="load" v-model="canteenId">
                <option v-for="c in canteens" v-bind:value="c.id">{{ c.name }}</option>
            </select>

            <p v-if="meals.length == 0">
                No meal plan.
            </p>
            <ul v-else>
                <li v-for="m in meals">{{ m.name }}</li>
            </ul>

        </div>

    </body>

</html>